<head>
  <title>Game of the Generals</title>
</head>

<body></body>

<template name="layout">
  <div class="container">
    {{yield}}
  </div>

  <!-- cache all pieces images so it'll load instantly later -->
  <img src="/images/pieces/1.jpg" style="display: none" />
  <img src="/images/pieces/2.jpg" style="display: none" />
  <img src="/images/pieces/3.jpg" style="display: none" />
  <img src="/images/pieces/4.jpg" style="display: none" />
  <img src="/images/pieces/5.jpg" style="display: none" />
  <img src="/images/pieces/6.jpg" style="display: none" />
  <img src="/images/pieces/7.jpg" style="display: none" />
  <img src="/images/pieces/8.jpg" style="display: none" />
  <img src="/images/pieces/9.jpg" style="display: none" />
  <img src="/images/pieces/10.jpg" style="display: none" />
  <img src="/images/pieces/11.jpg" style="display: none" />
  <img src="/images/pieces/12.jpg" style="display: none" />
  <img src="/images/pieces/13.jpg" style="display: none" />
  <img src="/images/pieces/14.jpg" style="display: none" />
  <img src="/images/pieces/15.jpg" style="display: none" />
  <img src="/images/pieces/20.jpg" style="display: none" />
  <img src="/images/pieces/21.jpg" style="display: none" />
  <img src="/images/pieces/22.png" style="display: none" />
  <img src="/images/pieces/23.png" style="display: none" />
  <img src="/images/pieces/24.png" style="display: none" />
  <img src="/images/pieces/25.png" style="display: none" />
</template>